.background {
	background-image: url(../Images/background.jpg);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	position: relative;
}


@keyframes chiti {

0% {right: 100px;}
100% {right: 1000px;}

}


@keyframes chiti2 {

0% {right: 50px;}
100% {right: 1550px;}

}

 @keyframes man {

 0% { left: 100px; }
 100% {left: 950px;}
 
}



.chiti {

	position: absolute;
	width: 100px;
	right: 50px;
	top: 10px;
	height: 100px;
	animation: chiti 30s infinite;

	
}

.man {

    position: absolute;
	height: 200px;
	top: 370px;
	width: 300px;
	left: 500px;
	animation: man 30s infinite;
    transform: rotate(-10deg);
	
}

.chiti2 {

	position: absolute;
	top: 100px;
	right: 100px;
	transform: rotate(-5deg);
	height: 100px;
	width: 100px;
	animation: chiti 30s infinite;

	

